[defaults]
host_key_checking = False
timeout = 30
inventory = inventory/gcp_inventory.py
remote_user = abhishekzod
private_key_file = ~/.ssh/id_rsa
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectionAttempts=10 -o ConnectTimeout=30
control_path = /tmp/ansible-%%h-%%r
pipelining = True
scp_if_ssh = True
